<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i of newdata){ %>
        <h1> list <%=i %></h1>
        <% if(i%2==0){%>
            <p> even </p>
        <%}%>
         
    <% } %> -->
    
    <!-- <h1> hy this is index.ejs file sent by server  </h1>

   
</body>
</html>


 <!-- this is not a html file it can calculate expressions or can send data from server to this file

        by this syntex <%=    %>
 
 -->